fastapi==0.111.1
uvicorn==0.24.0
sqlalchemy==2.0.22
psycopg2-binary==2.9.7
python-dotenv==1.0.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
yfinance==0.2.27
pandas==2.0.3
numpy==1.27.5
pmdarima==2.2.1
statsmodels==0.14.2
